* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 450px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
nav {
  width: 100%;
}
nav i {
  font-size: 25px;
  margin: 10px;
  margin-top: 10px;
  margin-left: 3%;
  color: blue;
}

.cost {
  padding-left: 5%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding-bottom: 10px;
}
.cost p:first-child {
  color: blue;
  font-size: 15px;
}
.cost p:last-child {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
}
.cost div:last-child i {
  font-size: 25px;
  margin-left: -50px;
  font-weight: 500;
  color: black;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}
.info p {
  color: #868686;
  font-size: 15px;
  font-weight: 500;
}
.others {
  background-color: #e8e8e8;
  width: 90%;
  height: auto;
  margin-left: 6%;
  border-radius: 5px;
  margin-top: 20px;
  color: #717171;
}
.others p {
  padding: 7%;
  font-size: 17px;
}

.btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
}

.btn button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(105, 0, 117);
  font-size: 20px;
  color: white;
}
.btn button i{
  font-style: normal;
}
.btn button:active {
  transform: scale(0.9, 0.9);

}

.liked {
  margin-top: 40px;
  background-color: #d4d4d4;
  width: 100%;
  height: 50px;
  padding-top: 12px;
  font-size: 20px;
  color: #2c2c2c;
  padding-left: 2%;
}

.card {
  width: 90%;
  padding-bottom: 20px;
  height: auto;
  margin-left: 5%;
  margin-top: 35px;
  border-radius: 10px;
  border: 1px solid rgb(178, 176, 176);
  align-items: center;
}

.images {
  border-radius: 10px;
  padding: 5px;
}

/* .card {
  width: 90%;
  height: 440px;
  margin-left: 5%;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid rgb(178, 176, 176);
  align-items: center;
} */

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  width: 90px;
  height: 200px;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.images {
  border-radius: 10px;
  padding: 5px;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  padding: 2px;
}
.heart {
  width: 30px;
  height: 30px;
  border: none;
  background: #ffff;
  border-radius: 50%;
  float: right;
  margin-top: 18px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
}
.heart i {
  color: black;
  font-size: 25px;
  margin-top: 3px;
}
.texts {
  padding-left: 15px;
}
.texts p:first-child {
  font-size: 15px;
  margin-top: 20px;
}
.texts p:nth-child(2) {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
}
.texts p:last-child {
  font-size: 20px;
  padding-top: 5px;
  font-weight: normal;
  margin: 0;
}

.loaction {
  margin-left: -5px;
  display: flex;
  margin-top: 15px;
}
.loaction img {
  width: 25px;
  height: 25;
}

