* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 450px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.page_nav {
    width: 100%;
    display: flex;
}

.page_nav i {
    font-size: 25px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 3%;
    color: blue;
}

.page_nav p {
    font-weight: 200;
    margin-top: 13px;
    font-size: 20px;
}

.page_btn {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
}

.page_btn button {
    width: 44%;
    height: 40px;
    border-radius: 29px;
    border: 1px solid blue;
    background-color: white;
    margin: 5px;
    color: blue;
    font-size: 15px;
}

.page_btn button:active {
    transform: scale(0.9, 0.9);
}

.page_cards {
    margin-left: 5%;
}

.page_car {
    margin-top: 10px;
    width: 90%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    border-radius: 5px;
    position: relative;
    justify-content: space-between;
}

.page_car p {
    padding: 10px;
}

.page_icon {
    padding: 10px;
    display: flex;
}

.page_icon img {
    width: 25px;
    margin-left: 10px;
}

.page_icon img:active {
    transform: scale(0.9, 0.9);
}