* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 450px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  display: flex;
}

nav i {
  font-size: 25px;
  margin: 10px;
  margin-top: 10px;
  margin-left: 3%;
  color: blue;
}

nav p {
  font-weight: 200;
  margin-top: 10px;
  font-size: 23px;
}

.Selects {
  margin-left: 5%;
  margin-top: 20px;
}

.brands {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.hr {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  background-color: #EFEFEF;
}

.inputs {
  margin-top: 20px;
  margin-left: 5%;
}

label {
  font-size: 20px;
}

.inputs input {
  width: 44.4%;
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

button{
  width: 90%;
  margin-left: 5%;
  height: 40px;
  border-radius: 10px;
  border: none;
  bottom: 10%;
  position: fixed;
  background-color: #72A1FD;
  color: white;
  font-size: 20px;
}
button:active{
  transform: scale(0.9,0.9);
}