* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 450px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  max-width: 450px;
  justify-content: space-between;
}

nav p {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 2%;
  font-family: "Itim", cursive;
}

.main_banner {
  background-image: url(../img/Banner.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.main_banner p {
  color: #dbff00;
  font-style: 20px;
  font-weight: 700;
  padding-top: 178px;
  margin-left: 1%;
}

.main_search {
  width: 80%;
  height: 50px;
  background-color: #3498db;
  border-radius: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10%;
  display: flex;
  color: white;
}

.main_card {
  width: 90%;
  padding-bottom: 20px;
  height: auto;
  margin-left: 5%;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid rgb(178, 176, 176);
  align-items: center;
}

.main_search:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.main_search:active {
  background-color: #2979ae;
  transform: scale(0.9, 0.9);
}

.main_search p {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.main_search i {
  margin-top: 12px;
  font-size: 25px;
}

.main_card {
  width: 90%;
  padding-bottom: 20px;
  height: auto;
  margin-left: 5%;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid rgb(178, 176, 176);
  align-items: center;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  width: 90px;
  height: 200px;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  
}

.main_images {
  border-radius: 10px;
  padding: 5px;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  padding: 2px;

}

.main_heart {
  width: 30px;
  height: 30px;
  border: none;
  background: #ffff;
  border-radius: 50%;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
}

.main_heart i {
  font-size: 25px;
  margin-top: 5px;
}

.main_texts {
  padding-left: 15px;
}

.main_texts p:first-child {
  font-size: 15px;
  margin-top: 20px;
}

.main_texts p:nth-child(2) {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
}

.main_texts p:last-child {
  font-size: 20px;
  padding-top: 5px;
  font-weight: normal;
  margin: 0;
}

.main_loaction {
  margin-left: -5px;
  display: flex;
  margin-top: 15px;
}

.main_loaction img {
  width: 25px;
  height: 25;
}

.main_btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
}

.main_btn button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(105, 0, 117);
  font-size: 20px;
  color: white;
}
.main_btn button i{
  font-style: normal;
}
.main_btn button:active {
  transform: scale(0.9, 0.9);

}

.main_navbar {
  width: 100%;
  height: 70px;
  background-color: #DEDEDE;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

/* .home,
.like,
.plus {
  margin: 2%;
} */

.main_home,
.main_like,
.main_plus,
i {
  font-size: 25px;
  color: black;
}

.main_home,
.main_like,
.main_plus,
p {
  font-size: 17px;
}

.main_btn_up{
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1;
  bottom: 80px;
  margin-left: 2%;
}


.main_to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:3%;
  width:40px;
  height:40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
  z-index: 1;
  border: 1px solid rgb(185, 173, 173);
}

.main_to-top.active {
  bottom:70px;
  pointer-events: auto;
  opacity:1;
}