* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 450px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


.card {
    width: 90%;
    height: 460px;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(178, 176, 176);
    align-items: center;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    width: 90px;
    height: 200px;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.images {
    border-radius: 10px;
    padding: 5px;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    padding: 2px;
}

.heart {
    width: 30px;
    height: 30px;
    border: none;
    background: #ffff;
    border-radius: 50%;
    float: right;
    margin-top: -185px;
    margin-right: 15px;
    position: relative;
    z-index: 1;
}

.heart i {
    font-size: 20px;
    margin-top: 3px;
}

.texts {
    padding-left: 15px;
}

.texts p:first-child {
    font-size: 15px;
    margin-top: 20px;
}

.texts p:nth-child(2) {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
}

.texts p:last-child {
    font-size: 20px;
    padding-top: 5px;
    font-weight: normal;
    margin: 0;
}

.loaction {
    margin-left: -5px;
    display: flex;
    margin-top: 15px;
}

.loaction img {
    width: 25px;
    height: 25;
}

.btn {
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
}

.btn button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(105, 0, 117);
    font-size: 20px;
    color: white;
}

.btn button:active {
    transform: scale(0.9, 0.9);
}

nav {
    width: 100%;
    display: flex;
}

nav i {
    font-size: 25px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 3%;
    color: blue;
}

nav p {
    font-weight: 200;
    margin-top: 10px;
    font-size: 23px;
}