* {
  margin: 0px 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 450px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  width: 100%;
  height: 50px;
  max-width: 450px;
  justify-content: space-between;
}
nav p {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 2%;
  font-family: "Itim", cursive;
}
nav select {
  width: 50px;
  height: 20px;
  margin-top: 15px;
  margin-right: 2%;
}
.banner {
  background-image: url(../img/Banner.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.banner p {
  color: #dbff00;
  font-style: 20px;
  font-weight: 700;
  padding-top: 178px;
  margin-left: 1%;
}
.search {
  width: 80%;
  height: 50px;
  background-color: #3498db;
  border-radius: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10%;
  display: flex;
  color: white;
}

.search:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}
.search:active {
  background-color: #2979ae;
  transform: scale(0.9, 0.9);
}

.search p {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.search i {
  margin-top: 12px;
  font-size: 25px;
}

.card {
  width: 90%;
  height: 470px;
  margin-left: 5%;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid rgb(178, 176, 176);
  align-items: center;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  width: 90px;
  height: 200px;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.images {
  border-radius: 10px;
  padding: 5px;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  padding: 2px;
}
.heart {
  width: 30px;
  height: 30px;
  border: none;
  background: #ffff;
  border-radius: 50%;
  float: right;
  margin-top: -185px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
}
.heart i {
  font-size: 20px;
  margin-top: 3px;
}
.texts {
  padding-left: 15px;
}
.texts p:first-child {
  font-size: 15px;
  margin-top: 20px;
}
.texts p:nth-child(2) {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
}
.texts p:last-child {
  font-size: 20px;
  padding-top: 5px;
  font-weight: normal;
  margin: 0;
}

.loaction {
  margin-left: -5px;
  display: flex;
  margin-top: 15px;
}
.loaction img {
  width: 25px;
  height: 25;
}
.btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
}
.btn button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(105, 0, 117);
  font-size: 25px;
  color: white;
  
}
.btn button:active{
    transform: scale(0.9,0.9);

}

.navbar{
    width: 100%;
    height: 70px;
    background-color: #DEDEDE;
    position: fixed;
    top: 90%;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.home,.like,.plus{
    margin: 10%;
}
.home,.like, .plus, i{
    font-size: 25px;
    color: rgb(255, 0, 0);
}
.home,.like, .plus, p{
    font-size: 20px;
}